<div class="col-md-5"><b>Title:</b>&nbsp;<a href="#feed/{{Id}}">{{Title}}</a></div>
<div class="col-md-5">
	<p>{{Url}}</p>
	<p>{{ArchiveStrategy}}</p>
</div>
<div class="col-md-2">{{LastUpdatedDisplay}}</div>
